body {
    font-family: 'Archia';
    font-weight: normal;
}

h1 {
    color: #e23028;
    background-color: rgba(226, 48, 40, 0.06);
    border-radius: 5px;
}

.table {
    color: #6c757d;
}

.table>:not(caption)>*>* {
    padding: 20px 8px;
    border: 4px solid #fff;
    border-radius: 3px;
}